@import 'mixins';

.left-content{
    position: relative;
    background-color: var(--orange);
    width:40%;
    height: 70rem;
    &-box{
        position: absolute;
        top: 50%;
        left:50%;
        transform: translate(-12% , -40%);
    &__heading{ 
        font-size: 10rem;
        font-weight: 700;
        color: var(--navy-blue);
        display: inline-block;
    }
    &__paragraph{
        font-size: 2.5rem;
        color: var(--black);
        margin-bottom: 4rem;
    }
    &__photo{
        max-width: 60rem;
    }
  }
 
}

.right-content{
    position: relative;
    font-family: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 60%;
    &__paragraph{
        position: relative;
        top:10%;
        left: 5%;
        width: 60%;
        font-size: 1.8rem;
        margin-bottom: 15rem;
    }
  
    &-contact{
        margin-left: 10%;
        &__list:not(:last-child){
            margin-bottom: 3rem;
        }  
        &__heading{
            font-size: 4rem;
            font-weight: 600;
        }
        &--menu{
            list-style: none;
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 1rem;
        }
        &--item{
            list-style: none;
            font-size: 2rem;
        }

        &--item:not(:last-child){
            margin-bottom: 1rem;
        }
    }

    @include respond(tab-port) {
        &-contact{
            position: relative;
            top:-10%;
            margin-top: 4rem;
            margin-left: 10rem;
        }    
    }

    @include respond(S-tab) {

        &-contact{
            margin-top: 10rem;
        }
    }
}

@include respond(XS-tab) {
    .left-content{
        position: relative;
        height: 100vh;
        width:60%;
        &-box{
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50% , -30%);

            &__heading{ 
                margin-top: 4rem;
                text-align: center;
                font-size: 8rem;
            }

            &__photo{
                width: 45rem;
                border-radius: 10px;
            }
        }
    }

    .right-content{
        &__paragraph{
            width:85%;
            font-size: 2rem;
        }

        &-contact{
            margin-left: -30%;
            text-align: left; 
            width: 50%;
            &__heading{
                margin-bottom: 2rem;
            }
            &--menu{
                list-style: none;
                font-size: 2.5rem;
                font-weight: 500;
                margin-bottom: 1rem;
            }
            &--item{
                list-style: none;
                font-size: 2.2rem;
            }
    
            &--item:not(:last-child){
                margin-bottom: 1rem;
            }
            }
        }
    }

    @include respond(B-phone ){
        .left-content{
            background-color: var(--orange);
            width:40%;
        }
        
        .right-content{
            &__paragraph{
                margin-bottom: 20rem;
                font-size: 2.5rem;
            }
          
            &-contact{

                &--menu{
                    list-style: none;
                    font-size: 3.5rem;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }
                &--item{
                    list-style: none;
                    font-size: 3.5rem;
                }
        
                &--item:not(:last-child){
                    margin-bottom: 1rem;
                }
            }
    }
}
    @include respond(phone) {
        .left-content{
            width: 100%;
            height:55vh;
            &-box{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 50%;
                left:50%;
                transform: translate(-50% , -50%);
                &__paragraph{
                    text-align: center;
                    margin-top:1rem;
                    margin-bottom: 0;
                }
                &__heading{ 
                    margin-top: 2rem;
                    text-align: center;
                    font-size: 8rem;
                }
            }
            .img-box{
                order: -1;
                width: 40rem;   
                border-radius: 50%;
                overflow: hidden;
                margin-bottom: 1rem;
            }
        }
        .right-content{
            width: 100%;
            &__paragraph{
                margin: 5rem 0;
                font-size: 3.5rem;
            }
        }
    }





.experiences{
    padding: 2rem 5rem;
    width: 65%;
    &__heading{
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 4rem;
    }
    &-box{
        padding: 0 2rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        &__container{
            position: relative;
            padding: 0 3rem;
            width: 45%;
        }

        &--1,&--2,&--3{
            margin-bottom: 4rem;
        }

        &__heading{
            position: relative;
            font-size: 1.5rem;
        }

        &__heading::before{
            padding: .5rem 1rem;
            position: absolute;
            top: 3.5rem;
            left: -35%;
            transform:  rotate(-90deg);
            background-color: var(--navy-blue);
            color: #fff;
            content: '2020-2021';
            font-size: 1.5rem;
        }



        &__paragraph{
            font-size: 1.2rem;
            color: var(--gray);
            margin-bottom: 2rem;
        }

        &__text{
            font-size: 1.3rem;
            font-weight: 600;
        }

        
    @include respond(B-phone ){
        &__heading{
            position: relative;
            font-size: 3rem;
        }

        &__heading::before{
            padding: .5rem 1rem;
            position: absolute;
            top: 3.5rem;
            left: -25%;
            transform:  rotate(-90deg);
            background-color: var(--navy-blue);
            color: #fff;
            content: '2020-2021';
            font-size: 1.8rem;
        }
        &__text{
            font-size: 2rem;
            font-weight: 600;
        }

    }

    }
}
.education{
    padding: 2rem 3rem;
    width: 35%;
    &__heading{
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 2rem
    }

    &-box{
        padding:0 2rem;
        &__item{
            position: relative;
            list-style: none;
            font-size: 1.4rem;
            font-weight: 700;
        }
        &__item::before{
            content: '.';
            position: absolute;
            top:-5.3rem;
            left: -2.5rem;
            font-size: 7rem;
            color: var(--gray);
        }
        &__paragraph{
            font-size: 1.2rem;
            color: var(--gray);
            width: 60%;
            margin-bottom: 2rem;
        }

        &__text{
            font-size: 1.4rem;
            font-weight: 700;
        }
        &__item:not(:first-child){
            margin-top: 2rem;
        }
    }

}



.skills{
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 4rem;
    width: 100%;

    &-header{
        display: flex;
        align-items: baseline;
        width: 100%;
    }
    &__heading{
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 2rem;
        margin-right: 2rem;
    }
    &-box{
        width: 80%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        &-container{
            width: 26.666%;
            height: 10rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &-container:not(:last-child){
            margin-bottom: 3rem;
        }

        &-content{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__text{
                display: flex ;
                align-items: center;
            }
        }
        &__list{
            width: 11rem;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
        }
        &__name{
            margin-right: 2rem;
            display: inline-block;
            font-size: 1.4rem;
            font-weight: 700;
        }
        &__input{
            display: none;
        }

        &__item{
            position: relative;
        }
        &__checkbox{
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50% , -50%);
            width: 1.5rem;
            height: 1.5rem;
            border: .2rem solid var(--orange);;
            border-radius: 50%;
            display: inline-block;
            cursor: pointer;
        }
        &__checkbox::after{
            content: '';
            height:1.3rem ;
            width: 1.3rem;
            border-radius: 50%;
            background-color: var(--orange);
            opacity: 0;
            
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50% , -50%);
            transition: opacity 0.2s ;        
        }
        &__input:checked ~ &__item  &__checkbox::after{
            opacity: 1;
        }  
        *:hover ~ &__item > &__checkbox::after{
            background-position: 0 0;
            opacity: 1;
        } 
        
    }
}


@include respond(XS-tab){
    .experiences{
        padding: 0;
        width: 100%;
        &__heading{
            font-size: 4rem;
        }
    }
    .education{
        width: 100%;
        margin-bottom: 3rem;
        &__heading{
            font-size: 4rem;
            font-weight: 900;
            margin-bottom: 2rem
        }
        &-box{
            padding:0 ;
            &__item{
                position: relative;
                list-style: none;
                font-size: 3rem;
                font-weight: 700;
            }
            &__item::before{
                content: '.';
                position: absolute;
                top:-11.5rem;
                left: -6rem;
                font-size: 15rem;
                color: var(--gray);
            }
            &__paragraph{
                font-size: 3rem;
                color: var(--gray);
                width: 60%;
                margin-bottom: 2rem;
            }
    
            &__text{
                font-size: 3rem;
                font-weight: 700;
            }
            &__item:not(:first-child){
                margin-top: 2rem;
            }
        }
    }
    .skills{
        padding: 0;
        &__heading{
            font-size: 4rem;
        }
        &-box{
            &__name{
                font-size: 2rem;
            }
            &__checkbox{
                width: 2rem;
                height: 2rem;
            }
            &__checkbox::after{
                width: 1.8rem;
                height: 1.8rem;
            }
        }

    }

}

@include respond(B-phone ){
    .skills{
        &-box{
            width: 100% ;
            &-container{
                width: 50% ;
            }
            &-container:not(:last-child){
                margin-bottom: 3rem;
            }
            &-content{
                width: 80%;
            }
        }
    }
}


@include respond(phone){
    .experiences{
        padding: 0;
        width: 100%;
        margin-bottom: 10rem;
        &__heading{
            font-size: 2.5rem;
            font-weight: 900;
            margin-bottom: 4rem;
        }
        &-box{
            padding: 0 ;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            &__container{
                padding: 0;
                width: 100%;
            }
    
   
    
          
    
            &__heading::before{
                padding: .5rem 1rem;
                position: absolute;
                top: 3.5rem;
                left: -20%;;
                transform:  rotate(-90deg);
                background-color: var(--navy-blue);
                color: #fff;
                content: '2020-2021';
                font-size: 1.5rem;
            }
            &__paragraph{
                font-size: 1.2rem;
                color: var(--gray);
                margin-bottom: 2rem;
            }
    
            &__text{
                font-size: 1.8rem;
                font-weight: 600;
            }
        }
    }
    .education{
        padding: 0;
        margin-bottom: 10rem;
    }
    .skills{
        padding: 0;
    }
}

@include respond(S-phone){
    .skills{
    &-box{
        width: 100%;
        &-content{
            width: 100%;
        }
        &-container{
            width: 100%;
        }
        &__list{
            width: 40%;
        }
    }
}
}

